.sidebar {
    min-height: 550px;
    padding: 20px;

    background-color: #fff;
    border-radius: 10px;
}

.sidebar ul {
    margin: 0;
    padding: 0;
}

.sidebar ul li {
    padding: 15px 0;

    border-bottom: 1px solid #aaa;
}

.sidebar ul li a {
    display: flex;
    align-items: center;
    font-size: 22px;
    color: #000;
    
    transition: all 0.5s ease 0s;
}

.sidebar ul li a i {
    font-size: 18px;
}

.sidebar ul li a:hover {
    padding-left: 10px;

    color: #0D6EFD;
}